/* Reset Style Code */
*{margin:0; padding:0; box-sizing:border-box;}
body{background:#fff; color:#444; font-family:"Open-Sans";}
a{color:#50d8af; text-decoration: none;}
ol, ul{list-style:none;}
p{padding:0; margin:0 0 30px 0;}
h1, h2, h3, h4, h5, h6{font-family:"Montserrat"; font-weight:400; margin:0 0 0 0; padding:0;}
input, textarea, button{outline:0; border:1px solid #999;}
textarea{resize:none;}