.header_scroll{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin-top: 30px;
 }


.header_scroll #logo{margin-left: 40px; _top: 15px;}
 /* #logo h1 img{width: 100%; height: 100%;} */
.header_scroll .dp_menu{z-index: 10; _font-size: 40px;}
.header_scroll .dp_menu a i{margin-right:40px;font-size: 35px; top: 15px; z-index: 100;
 color: #303030; border: 1.5px solid #303030; padding:4px;}

.header_scroll .dp_menu a i:hover{color: #ffe600;}

.header_scroll .dropdown_menu{
  padding: 20px 0 0 0;
  position: fixed;
  top: 0px;
  left: 25%;
  text-align: center;
  width: 50%;
  height: 100%;
  background:black;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* 기능추가  */
  transition: 0.5s;
  overflow: hidden;
  }

  .header_scroll .dropdown_menu li{  
    color: black;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    outline: 0;
    padding: 0 100px 0 100px;  
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(70) forwards;
    animation: ani2 0.7s steps(70) forwards;
    transition: 0.5s; 
 }
 .header_scroll .dropdown_menu li .mas {
  height: 100px;
  word-spacing: 7px;
  letter-spacing: 7px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 27px; 
  line-height: 5px;
  color: #fff;
  background:black
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
 }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
 }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
 }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
 }
}

.dropdown_menu button {
  width: 101%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  background:#fff;
  -webkit-mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  -webkit-mask-size: 7100% 100%;
  mask-size: 7100% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(70) forwards;
  animation: ani2 0.7s steps(70) forwards;
}

.header_scroll .dropdown_menu li:hover {
	-webkit-animation: ani 0.7s steps(70) forwards;
	animation: ani 0.7s steps(70) forwards;
	}

.header_scroll .dropdown_menu button:hover {
  -webkit-animation: ani 0.7s steps(70) forwards;
  animation: ani 0.7s steps(70) forwards;
}

.header_scroll .dropdown_menu li a{
    height: 100px;
    word-spacing: 7px;
    letter-spacing: 7px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 27px; 
    line-height: 5px;
    color: #ffe600;
    background:black
  }
#player {max-width: 100vw!important;}  
#video_content{width: 100vw!important;_margin:0px;_padding:0px;_overflow:hidden}
#video_content .performance {width: 100vw!important;}
#video_content .performance iframe{
  width: 100vw!important;
  height: 707px;
  top: 0;
  left: 0;

  /* 추가 06/29 */
  text-align: center;
  background-position: center center;
  margin-left: -15px;
  margin-right: -15px;
  }
#view_content{    
  background-position: center;
  position: relative;
  padding-top: 7%;
  padding-bottom: 5%;
  justify-content: center;
  align-items: center;
  display: flex;}

#view_content .view_text{  
  padding: 20px 50px;  
  font-family: Montserrat;
  font-size: 13px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.6px;
  color: rgb(255, 230, 0);
  border: 2px solid #000000;
  background-color: #5b5b5b;}

#view_content .view_text:hover{background-color: #ffe600;color:#000000;}


#view_content .view_separator{
  background-color: #303030;
  height: 2px;
  position: relative;
  width: 22px;
  display: block;
  margin: 10px auto 20px;
}

#box_content{
  display: block;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
#box_content .up_box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
#box_content .up_box span{font-size: 30px; color: black;
  background-color: #ffe600; padding: 15px;
  font-family: 'Unna';
  font-style: italic;
  font-weight: normal;
  border: none;
  background: #ffe600;
  color: #000000;
}
#box_content .up_text{
  display: flex;
  justify-content: center;
  align-items: center;
}
#box_content .up_text p{font-size: 50px;padding-bottom: 20px;}

#calendar{
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  flex-direction: row;
  height: 436px;
  padding-left: 10%;
  padding-right: 10%;
}

#calendar .cal_box1{height:100%;background-color:lightgray;padding: 40px 35px;}
#calendar .cal_box2{height:100%;background-color:lightgray;padding: 40px 35px;}
#calendar .cal_box3{height:100%;background-color:lightgray;padding: 40px 35px;}
#calendar .cal_box1:hover{background-color: #ffe600;}
#calendar .cal_box2:hover{background-color: #ffe600;}
#calendar .cal_box3:hover{background-color: #ffe600;}
#calendar i{font-size: 35px; color: black;}
#calendar h2{margin-top:15px; font-weight: 700;text-align: left;}
#calendar h3{margin-top:10px;font-weight: 700; font-size: 15px;text-align: left; line-height: 30px; letter-spacing: 0.6px;}
#calendar img{margin-top:30px;width: 217px; height: 145px;}

#repertoire{
  display: block;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top:60px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  
}
#repertoire .up_box{
display: flex;
justify-content: center;
align-items: center;
padding: 30px;
}

#repertoire .up_box span{font-size: 30px; color: black;
  background-color: #ffe600; padding: 15px;
  font-family: 'Unna';
  font-style: italic;
  font-weight: normal;
  border: none;
  background: #ffe600;
  color: #000000;
}
#repertoire .up_text{
  display: flex;
  justify-content: center;
  align-items: center;
  }
#repertoire .up_text p{font-size: 50px;padding-bottom: 20px;}



/* Foooter Sytle Css */
  footer {
    display: block;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    position: relative;
    margin: 20px auto;
    background: black;
    padding: 1px 50px;
}
.footer_bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  background: black;

}
.footer_bar .footer_logo{}
.footer_bar .footer_sns{display: flex;}
.footer_bar .footer_sns span{width:30px; height: 30px; border: 1px solid #ffe600;
justify-content: center;align-items: center; margin: 3px;}
.footer_bar .footer_sns i{margin: 10px; display: block;}
.footer_bottom {
display: flex;
justify-content: center;
font-size: 12px;
font-weight: 600;
margin-bottom: 10px;
background: black;
}
footer .footer_bottom a{
  color: #5b5b5b;
  background: black;
}